.idea/
__pycache__/
*.pyc
*.pem
api_key_openai.txt
tmp_imgs/*.png
tmp_imgs/*.html

onemap_password.txt
onemap_email.txt

*.sqlite3

agent_log.txt

./vue-front/node_modules
./vue-front/dist
./vue-front/.vscode
./vue-front/.idea